@charset "UTF-8";



@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf')format('opentype');
    font-weight: normal;
}
  :root{
    --cor0:#c5edb6;
    --cor1:#83e1ad;
    --cor2:#3ddc85;
    --cor3:#2fa866;
    --cor4:#1A5C37;
    --cor5:#063d1e;

    --fonte-padrao:Arial, Verdana,Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue',cursive;
    --fonte-android:'Android',cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
main p{
  text-align: justify;
    margin: 15px 0px 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.1em;
}
header{
    padding-top: 30px;
  background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
    
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.296);
}
header>h1{
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.296);
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
}
main strong{
    color: var(--cor4);
    font-weight: bolder;
}
main a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    transition-duration: 0.7s;
    padding: 7px;
}
main a{
   text-decoration: none;
   font-weight:bold;
   color: var(--cor5);
    background-color: var(--cor1);
    padding: 3px 6px;
    border-radius: 3px;
    
}
    a.ex::after{
        content: '\0020\1F517';

    }

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    text-indent: 10px;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 10px  rgba(0, 0, 0, 0.211);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.8s;

}
nav > a:hover{
    background-color:var(--cor3);
    color: var(--cor5);
    padding: 14px;
    transition-duration: 0.8s;
}
main{
    background-color: white;
    padding: 20px;
  
    margin-bottom: 30px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
img{
    width: 100%;
}
main img.peq{
    max-width: 300px;
    display: block;
    margin: auto;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.419);
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
aside ul{
    list-style-type: '\1F5F8\0020\0020';
    /* 0020 significa espaço ou backspace na lista, lembrando que não é comaptivel com todo navegador*/
    list-style-position: inside;
    columns: 2;
    
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration:none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
iframe{
    display: block;
    margin: auto;
    width: 80%;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 30px;
}
main h3{
    background-color: var(--cor5);
    color: white;
    font-size: 1.3em;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 15px;
}